@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap);
::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-track {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  display: none !important;
}
#theme-switcher {
  align-items: center;
  display: flex;
}

section .forecast {
  width: 100%;
}

:root[data-theme="dark"] {
  --bg-color: #121212;
  --snd-bg-color: #514d4d00;
  --text-color: #fff;
  --bg-btn-color: rgb(255, 255, 255, 0.1);
  --main-color: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #7421ae 100%);
  --switch-bg: #2d2c35;
  --switch-circle-bg: #7190ff;
  --switch-circle-pos: 4.13rem;
  --icon-sun: #77757e;
  --icon-moon: #dce3ff;
  --box-shadow: inset 0 0 10px rgba(54, 53, 53, 0.311);
}
:root[data-theme="light"] {
  --bg-color: #fff;
  --snd-bg-color: #d3d3d344;
  --text-color: #121212;
  --bg-btn-color: rgb(0, 0, 0, 0.2);
  --main-color: linear-gradient(45deg, #ff82f3 0%, #7b13ff 50%, #400d64 100%);
  --switch-bg: #f5f5f6;
  --switch-circle-bg: #ffd371;
  --icon-sun: #997f44;
  --icon-moon: #b1b0b5;
  --box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

#theme-switcher {
  background-color: var(--snd-bg-color);
  border-radius: 50px;
  gap: 3rem;
  cursor: pointer;
  padding: 1rem 1rem;
  position: relative;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: var(--box-shadow);
}
#theme-switcher::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: var(--switch-circle-bg);
  border-radius: 50%;
  left: 9%;
  transform: translateY(-50%);
  z-index: 0;
  transform: translateX(var(--switch-circle-pos));
  transition: transform 0.3s;
}
#theme-switcher svg {
  z-index: 1;
  transition: fill 0.3s;
}
#icon-sun {
  fill: var(--icon-sun);
}
#icon-moon {
  fill: var(--icon-moon);
}
#theme-switcher:hover {
  transform: scale(1.05);
}
#theme-switcher:hover::before {
  transform: scale(1) translateX(var(--switch-circle-pos));
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    will-change: transform;
  }
  50% {
    transform: scale(1.1);
  }
}
#theme-switcher:focus::before {
  animation: 1s infinite pulse;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.interface {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface .container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  background-color: var(--snd-bg-color);
  border-radius: 50px;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: var(--box-shadow);
}

header .location p {
  font-size: 20px;
  margin: 0;
}

header .location .city-name {
  color: var(--text-color);
  font-weight: 700;
  font-size: 24px;
}

header .search-bar {
  position: relative;
  width: 60%;
  box-shadow: var(--box-shadow);
  border-radius: 25px;
}

header .search-bar input {
  width: 100%;
  border: none;
  padding: 12px 50px;
  border-radius: 25px;
  background-color: var(--snd-bg-color);
  color: var(--text-color);
  font-size: 18px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

header .search-bar input::placeholder {
  font-size: 16px;
  color: var(--text-color);
}

header .search-bar i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}



.forecast-data h2 {
  font-weight: 900;
  padding-bottom: 10px;
  font-size: 24px;
}

.forecast-cards {
  display: flex;
  gap: 15px;
}

.forecast-cards .card {
  background: var(--main-color);
  border-radius: 40px;
  transition: flex-grow 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  box-shadow: var(--box-shadow);
  padding: 10px;
}

.forecast-cards .card:not(.active) {
  background: var(--bg-color);
  flex-grow: 0;
}

.forecast-cards .card .card-header {
  padding: 15px 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  background-color: var(--bg-btn-color);
  border-radius: 40px;
  transition: background-color 0.3s ease;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.forecast-cards .card:not(.active) .card-header::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  width: 50%;
  height: 1px;
  transition: background-color 0.3s ease;
}

.card .card-header .time {
  font-weight: 700;
  display: none;
}

.forecast-cards .card .card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card .card-body img {
  width: 60px;
}

.card .card-body .degree {
  font-size: 35px;
  font-weight: 700;
}

.card .card-data {
  padding: 0 20px 13px;
  display: none;
}

.card .card-data ul:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
}

.card .card-data ul li {
  font-size: 15px;
}

.card .card-data ul li span {
  font-size: 14px;
  font-weight: 700;
}

.forecast-cards .card.active {
  min-width: 352px;
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  flex-grow: 1;
}

.card.active .card-header {
  display: flex;
  font-weight: 600;
}

.forecast-cards .card.active .card-body {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card.active .card-body .degree {
  font-size: 3rem;
}

.card.active .card-body img {
  width: 75px;
  order: 10;
}

.card.active .card-data {
  display: flex;
  justify-content: space-between;
}

.rain-chance {
  padding: 10px 10px 10px 20px;
}
.rain-chance h3 {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.rain-day-hours {
  height: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.rain-day-hours .clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rain-day-hours .clock .bar {
  width: 15px;
  height: 100px;
  background-color: var(--text-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.rain-day-hours .clock .percent {
  width: 100%;
  height: 50%;
  background: var(--main-color);
  border-radius: inherit;
}

.rain-day-hours .clock p {
  margin-top: 10px;
}

.recent-header {
  display: flex;
  justify-content: space-between;
}
.recent-header h2 {
  font-family: Nunito, sans-serif;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.recent-header button {
  font-family: Nunito, sans-serif;
  display: inline-block;
  background: var(--bg-btn-color);
  border-radius: 3em;
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: background 0.12s ease-out, color 0.12s ease-out;
  cursor: url(../images/warning-cursor.png), auto;
}

.recent-header button i {
  padding-left: 5px;
  color: var(--text-color);
}

.city-items {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
}
.city-items .item {
  text-align: center;
}

.city-items .item .city-image {
  overflow: hidden;
  border-radius: 40px;
}

.city-items .item img {
  width: 100%;
  height: 70px;
  transition: scale 0.3s ease;
  transition: filter 0.3s ease;
}

.city-items .item img:hover {
  scale: 1.1;
}





.button {
  background: 0 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.button {
  font-family: Nunito, sans-serif;
  display: inline-block;
  background: var(--bg-btn-color);
  border-radius: 3em;
  padding: 26px 60px;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  transition: background 0.12s ease-out, color 0.12s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: var(--main-color);
  background-image: linear-gradient(
    45deg,
    #ff82f3 0,
    #7b13ff 50%,
    #400d64 100%
  );
  transition: opacity 0.1s linear;
}
.button span {
  display: block;
  color: #fff0;
}
.button span:after,
.button span:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  color: #fff;
  transition: opacity 0.14s ease-out, transform 0.14s ease-out;
}
.button span:before {
  top: 0;
}
.button span:after {
  top: 100%;
  opacity: 0;
  transform: translateY(100%);
}
.button:hover {
  background: var(--main-color);
  color: #fff;
}
.button:hover span:before {
  opacity: 0;
  transform: translateY(-100%);
}
.button:hover span:after {
  opacity: 1;
  transform: translateY(0);
}
.button-sm {
  padding: 10px 20px;
}
.button-lg {
  padding: 16px 42px;
}

@media screen and (max-width: 1200px) {
  .city-items .item {
    width: 20%;
  }

  .city-items .item .city-image {
    width: 100%;
  }

  .city-items .item .city-name {
    font-size: 1rem;
  }

  .city-items .item .city-name span {
    font-size: 0.8rem;
  }

  .city-items .item img {
    width: 100%;
    height: auto;
    transition: scale 0.3s ease;
    transition: filter 0.3s ease;
  }

  .forecast-cards {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
  }

  .forecast-cards .card {
    width: 100%;
  }

  .forecast-cards .card .card-header {
    font-size: 1rem;
  }

  .card.active .card-body .degree {
    font-size: 1.5rem;
  }

  .card.active .card-body img {
    width: 100px;
    order: 10;
  }

  .card.active .card-data {
    font-size: 1rem;
  }

  .card .card-header .time {
    font-size: 1rem;
  }

  .card .card-body {
    font-size: 0.8rem;
  }

  .rain-chance {
    padding: 10px 10px 10px 20px;
  }

  .rain-day-hours {
    height: 100%;
    padding: 20px 10px;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .city-items .item {
    width: 15%;
  }

  .city-items .item .city-image {
    width: 100%;
  }

  .city-items .item .city-name {
    font-size: 1rem;
  }

  .city-items .item .city-name span {
    font-size: 0.8rem;
  }

  .city-items .item img {
    width: 100%;
    height: auto;
    transition: scale 0.3s ease;
    transition: filter 0.3s ease;
  }

  .recent-header button {
    font-size: 1rem;
  }

  .recent-header button i {
    font-size: 1.2rem;
  }

  .card .card-header .time {
    font-size: 1rem;
  }

  .forecast-cards .card .card-header {
    font-size: 1rem;
  }

  .card.active .card-body .degree {
    font-size: 1.5rem;
  }

  .forecast-cards {
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .forecast-cards .card {
    width: 100%;
    max-width: 300px;
    padding: 10px;
  }

  .forecast-cards .card .card-header {
    font-size: 1rem;
  }

  .forecast-cards .card .card-header .time {
    display: block;
  }

  .forecast-cards .card .card-body {
    font-size: 1rem;
  }

  .card.active .card-body img {
    width: 100px;
  }

  .forecast {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rain-chance {
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .rain-day-hours {
    height: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .clock {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  @media screen and (max-width: 767px) {
    .city-items .item {
      width: 25%;
    }

    .city-items .item .city-image {
      width: 100%;
    }

    .city-items .item .city-name {
      font-size: 0.8rem;
    }

    .city-items .item .city-name span {
      font-size: 0.6rem;
    }

    .city-items .item img {
      width: 100%;
      height: auto;
      transition: scale 0.3s ease;
      transition: filter 0.3s ease;
    }
  }
}

@media screen and (max-width: 575px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .search-bar {
    order: 1;
    margin: auto;
  }

  .forecast {
    width: 100%;
    margin: auto;
  }

  .forecast-cards .card-data {
    flex-direction: wrap;
    justify-content: center;
    align-items: center;  
    padding: 10px 10px;
  }
}
